<a href="https://colab.research.google.com/github/Ayush2005292/ML/blob/main/First_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("this is ayush patel")

this is ayush patel

In [2]:
var1 = 20
var2 = 4.123
var3 = "India"
print(var1, '',var2,' ',var3)

20  4.123   India

In [3]:
var1, var2, var3 =  6, 6.0, "Ram"

print(var1, ' ', var2, ' ', var3 )

6   6.0   Ram

In [4]:
firstname = input("Enter your first name :")
lastname = input("Enter your last name :")

Enter your first name :ayush
Enter your last name :patel

In [5]:
age = input("Enter your age:")
age = int(age)+5
print(age)

Enter your age:22
27

In [6]:
a = 10
print(str(a))
print(float(a))

b = '20'
print(int(b))
print(float(b))

c = 23.56
print(int(c))
print(str(c))

10
10.0
20
20.0
23
23.56

In [9]:
print("A computer science portal for {}".format("acropolis"))

A computer science portal for acropolis

In [10]:
str = "this article is written in {}"
print (str.format("python"))

this article is written in python

In [11]:
x=68
print(chr(x))
char='D'
print(ord(char))

D
68

In [14]:
print(" Acropolis "*10 + "\n")

 Acropolis  Acropolis  Acropolis  Acropolis  Acropolis  Acropolis  Acropolis  Acropolis  Acropolis  Acropolis

In [17]:
for i in range(5):
     print("*"*i)

*
**
***
****

In [18]:
print("\n")
for i in range(4,0,-1):
  print("*"*i)

****
***
**
*

In [21]:
for i in range(2,10,+2):
    print("*"*i)

**
****
******
********

In [22]:
for i in range(1,6):
  print(" "*(6-i),"*"*i)

      *
     **
    ***
   ****
  *****

In [24]:
val = 20
age = 45
print (f"{val} value is even and age is {age}")

20 value is even and age is 45

In [25]:
a,b,c = 10,20,30
print(a,b,c,sep=':',end=';')

10:20:30;

In [28]:
word = 'PYTHON'
a,b,c,d,e,f = word
print(a,b,c,d,e,f)

P Y T H O N

In [29]:
x = 5
y = 10
print('the value of x is {} and value of y is {}'.format(x,y))

the value of x is 5 and value of y is 10

In [31]:
print('I like {1} and {0}'.format('ice cream', 'chocolate'))

I like chocolate and ice cream

In [32]:
print ('hello {name}, {greeting}'.format(greeting = 'good morning',name = 'ayush'))

hello ayush, good morning

In [33]:
ayush = 'coffee'
riya = 'tea'
ayush, riya = riya , ayush
print("ayush :{}".format(ayush))
print("riya :{}".format(riya))

ayush :tea
riya :coffee

In [34]:
e,f,g,h,i,j = 'Python'
s=ord(e)+ord(f)+ord(g)+ord(h)+ord(i)+ord(j)
print(s)

642

In [35]:
import math
print(math.sqrt(9))
print(math.floor(10.8))
print(math.ceil(10.5))
math.pi

3.0
10
11

3.141592653589793

In [44]:
import random
x = random.random()
print("x =", x)

y = random.randint(5,20)
print("y =", y)

x = 0.004746021893553887
y = 15

In [47]:
import datetime

date = datetime.datetime.now().date()
year = datetime.datetime.now().year
month = datetime.datetime.now().month
day = datetime.datetime.now().day
print(date)
print(year)
print(month)
print(day)

2026-02-24
2026
2
24

In [49]:
import calendar

year = int(input("enter the year :"))
month = int(input("enter the month :"))
print(calendar.month(year,month))

enter the year :1999
enter the month :1
    January 1999
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31